@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.top,
.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.logo,
.this-website.is-awesome,
.top-placeholder {
    color: #F9FAF8;
}

.this-website.is-awesome {
    font-size: 48px;
    font-weight: 900;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.logo {
    font-size: 24px;
    padding-top: 10px;
    font-weight: 900;
}

.this-website.has,
.signup,
ul {
    font-size: 18px;
    color: #e5e7eb
}

ul,
a {
    text-decoration: none;
    list-style: none;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
}

.signup {
    background-color: #3882f6;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    width: 130px;
    height: 35px;
    flex-shrink: 0;
    font-weight: 900;
}

.top-placeholder {
    background-color: darkgray;
    width: 500px;
    height: 250px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 23px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.container-top {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.this-website.has {
    display: flex;
    width: 53%;
}

.top-middle {
    padding-top: 60px;
}

.this-website {
    padding-left: 10px; 
    gap: 15px;
    display: flex;
    flex-direction: column;
    width: 41%;
}

.body-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    padding-bottom: 25px;
}

.boxes {
    display: flex;
    gap: 30px;
}

.box {
    height: 160px;
    width: 160px;
    background-color: white;
    border: solid #3882f6;
    border-radius: 10%;
}
.subtexts {
    display: flex;
    gap: 39px;
    padding-left: 3px;
    
}
.box-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}

.bodyone-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f291f;
    display: flex;
    margin-bottom:45px;
}

.text {
    flex-wrap: wrap;
    height: 75px;
    width: 159px;
    text-align: center;
}

.body-two {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    height: 450px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 830px;
    height: 180px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;  
}

.author {
    display: flex;
    font-size: 24px;
    font-weight: 900;
    flex-direction: row-reverse;
    justify-content: center;
    padding-left: 500px;
}

.contact { 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;
}

.contact-text {
    display: flex;
    background-color: #3882f6;
    height: 150px;
    width: 1100px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;  
}

.call,
.call-button {
    font-weight: 900;
    color: #F9FAF8;
    font-size: 18px;
}

.call {
    font-size: 24px; 
}

.call-subtext {
    font-size: 17px;
    color: #e5e7eb;
}

.call-button {
    border: solid white;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    height: 150px;
    font-size: 22px;
}