@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
}

.top,
.footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.logo,
.this-website.is-awesome,
.top-placeholder {
    color: #F9FAF8;
}

.this-website.is-awesome {
    font-size: 48px;
    font-weight: 900;
}

.logo {
    font-size: 24px;
}

.this-website.has,
.signup,
ul {
    font-size: 18px;
    color: #e5e7eb
}

ul,
a {
    text-decoration: none;
    list-style: none;
    color: #e5e7eb;
    display: flex;
    gap: 20px;
}

.signup {
    background-color: #3882f6;
    border-radius: 20%;
    cursor: pointer;
    padding: 7px 20px 7px 20px;
}

.top-placeholder {
    background-color: darkgray;
    width: 400px;
    height: 200px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.container-top {
    display: flex;
    justify-content: center;
}